<md-content class="project_form">
	<h1>{{'USER' | translate}}</h1>

    <div>
		<md-input-container>
			<label>{{'USERNAME' | translate}}</label>
			<input ng-model="args.user.username">
      	</md-input-container>

		<md-input-container flex>
        	<label>{{'NAME' | translate}}</label>
        	<input ng-model="args.user.name" required>
      	</md-input-container>

		<md-checkbox aria-label="{{'ADMINISTATOR' | translate}}" ng-model="args.user.administrator" class="md-primary">
		{{'ADMINISTATOR' | translate}}
	    </md-checkbox>

		    <div layout="row" layout-align="space-between center" class="project_act">
				<md-button class="md-warn" ng-click="ev.delUser(args.user)">{{'DELETE' | translate}}</md-button>
				<md-button class="md-raised md-primary"  ng-click="ev.save(args.user)">{{'SAVE' | translate}}</md-button>
			</div>
    </div>
</md-content>
