<md-content flex class="md-padding">

    <h1>example-inherit</h1>

    <p>apiDoc inherit example</p>


    <div class="cell">
        <h2>User - Get User information</h2>

        <p>Blocks with same group and name, but different versions can be compared in the generated output, so you or a
            frontend developer can retrace what changes in the API since the last version.</p>

        <p>GET</p>

        <p>/user/:id</p>

        <p>Parameter</p>

        <p>parameter...</p>

        <p>Response - Success</p>

        <p>response...</p>

        <p>Response - Error</p>

        <p>error...</p>

        <p>Example</p>

        <p>example1</p>

        <p>Send a Sample Request</p>
        <md-button class="md-raised">send</md-button>
    </div>

    <div class="cell">

        <h2>User - Get User information</h2>

        <p>Blocks with same group and name, but different versions can be compared in the generated output, so you or a
            frontend developer can retrace what changes in the API since the last version.</p>

        <p>GET</p>

        <p>/user/:id</p>

        <p>Parameter</p>

        <p>parameter...</p>

        <p>Response - Success</p>

        <p>response...</p>

        <p id="anchor2">Response - Error</p>

        <p id="anchor1">error...</p>

        <p>Example</p>

        <p>example1</p>

        <p>Send a Sample Request</p>
        <md-button class="md-raised">send</md-button>
    </div>


</md-content>


