<h1>{{'PROJECT' | translate}}</h1>

<md-content>
    <div layout="row" layout-align="start center">

        <md-input-container>
		<label>{{'KEYWORD' | translate}}</label>
            <input ng-model="args.keywords" type="text">
        </md-input-container>
		<md-button class="md-raised ml20" ng-click="ev.search()">{{'SEARCH' | translate}}</md-button>

    </div>
</md-content>

<table class="table table-striped table-hover">
    <thead>
    <tr>
		<th>{{'NAME' | translate}}</th>
        <th>{{'TAG' | translate}}</th>
        <th>{{'VERSION' | translate}}</th>
        <th>{{'CREATED' | translate}}</th>
        <th>{{'MODIFIED' | translate}}</th>
        <th class="txt-ac">{{'ACTION' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in args.list">
		<td>{{item.name}}</td>
		<td>{{item.tags}}</td>
		<td>{{item.version}}</td>
		<td>{{item.created}}</td>
		<td>{{item.modified}}</td>
        <td class="txt-ac">
			<md-button class="md-primary" ng-href="#/project/edit">{{'EDIT' | translate}}</md-button>
			<md-button class="md-primary" ng-href="#/deploy/list">{{'DEPLOY' | translate}}</md-button>
		</td>
    </tr>
    </tbody>
</table>
