.buttondemoBasicUsage {
    /** From vulcanized demo **/
}

.buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px;
}

.buttondemoBasicUsage md-content {
    margin-right: 7px;
}

.buttondemoBasicUsage section .md-button:not(.md-fab) {
    min-width: 10em;
}

.buttondemoBasicUsage section .md-button {
    display: block;
    margin: 1em;
    line-height: 25px;
}

.buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    color: #ccc;
    font-size: 14px;
}
label{
    margin-bottom: 0;
    font-weight: normal;
}

.sidebar {
    padding-top: 20px;
}

.docs-menu .md-button {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.docs-menu, .docs-menu ul {
    list-style: none;
    padding: 0;
}

.docs-menu .menu-toggle-list a.md-button {
    display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
}

.docs-menu .md-button.active {
    color: #03a9f4;
    background-color: rgba(158, 158, 158, 0.2);
}

.ml20{
	margin-left: 20px
}
.mr20{
	margin-right:20px
}
.mt20{
	margin-top:20px
}
.mb20{
	margin-bottom: 20px
}
.lh30{
	line-height:30px !important;
}
.txt-ac{
	text-align:center
}
