<md-content class="project_form">
    <h1>{{'CLUSTER' | translate}}</h1>

    <div>
        <form name="clusterform">
            <md-input-container flex>
                <label>{{'NAME' | translate}}</label>
                <input ng-model="args.cluster.name" required>
            </md-input-container>

            <md-input-container>
                <label>{{'NOTE' | translate}}</label>
                <input ng-model="args.cluster.note">
            </md-input-container>

            <md-input-container>
                <label>{{'TAG' | translate}}</label>
                <input ng-model="args.cluster.tags">
            </md-input-container>

            <div>
                <div class="project_cluster_list">
                    <h4>{{'NODE' | translate}}{{'LIST' | translate}}</h4>

                    <div class="cluster_node_cell" layout="row" layout-align="space-between center"
                         ng-repeat="node in args.cluster.nodes"
                         ng-class="node.hover == true ? 'md-whiteframe-z1':''" ng-mouseenter="node.hover = true"
                         ng-mouseleave="node.hover = false">
                        <span>{{node.ip}}</span>
                        <md-button class="md-warn" ng-click="ev.removeNode($index)">{{'REMOVE' | translate}}
                        </md-button>
                    </div>
                </div>

                <div layout="row" layout-align="end center" class="cluster_node_add">
                    <md-select ng-model="_addnode" placeholder="{{'CHOICE_NODE' | translate}}">
                        <md-option ng-repeat="node in args.nodes" value="{{$index}}"
                                   ng-show="node.ip | ipFilter:args.cluster.nodes">{{node.ip}}
                        </md-option>
                    </md-select>

                    <md-button class="md-raised" ng-click="ev.addNode(_addnode)" ng-disabled="!_addnode">
                        {{'ADD' | translate}}{{'NODE' | translate}}
                    </md-button>
                </div>

                <div layout="row" layout-align="space-between center" class="project_act">
                    <md-button class="md-warn" ng-click="ev.delCluster($event)">{{'DELETE' | translate}}{{'CLUSTER' |
                        translate}}
                    </md-button>
                    <md-button class="md-raised md-primary" type="submit" ng-click="ev.save()">{{'SAVE' |
                        translate}}{{'CLUSTER' | translate}}
                    </md-button>
                </div>
            </div>
        </form>
    </div>
</md-content>
