<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>wolffy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="js/libs/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="js/libs/html5-boilerplate/css/main.css">

    <link rel="stylesheet" href="js/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="js/libs/todc-bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="js/libs/todc-bootstrap/css/todc-bootstrap.min.css">

    <link rel="stylesheet" href="js/libs/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="js/libs/angular-material/angular-material.min.css">

    <link rel="stylesheet" href="css/app.css">
</head>

<body layout="row" ng-cloak>
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-sm')">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">wolffy</h1>
    </md-toolbar>
    <md-content class="" ng-controller="sidebarCtrl">
        <md-button ng-click="close()" class="md-primary" hide-gt-sm>Close Sidenav Left</md-button>

        <div ng-repeat="m in menu" class="docs-menu">
            <md-button class="md-button-toggle" ng-click="toggle()"> 菜单菜单</md-button>
            <ul class="menu-toggle-list">
                <li>
                    <a class="md-button md-default-theme" class="active" href="#/">
                        <span class="">Container Elements</span>
                    </a>
                </li>
            </ul>
        </div>
    </md-content>
</md-sidenav>


<md-content flex class="md-padding" ng-view></md-content>

<script data-main="js/main" src="js/libs/requirejs/require.js"></script>
</body>
</html>
